recursive-include mz_bokeh_package/components *
recursive-include mz_bokeh_package/custom_widgets *
recursive-include mz_bokeh_package/utilities *
recursive-include mz_bokeh_package/templates *
recursive-include mz_bokeh_package/assets *
